body {
    margin: 10px 20px 10px 20px;
    background-color: rgb(243, 210, 210);
}

.container-fluid {
    display: inline-block;
    clear: both;
}

#sports {
  float: left;
}

h1 {
    text-align: center;
}

#sports-image {
    height: 200px;
    width: 300px;
    border: 2px solid black;
}